USE [FuelinfoDb]
GO
/****** Object:  StoredProcedure [dbo].[GetDispensingRecords]    Script Date: 9/22/2025 10:07:18 PM ******/
DROP PROCEDURE [dbo].[GetDispensingRecords]
GO
/****** Object:  Index [UQ__Users__536C85E4CE05370C]    Script Date: 9/22/2025 10:07:18 PM ******/
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [UQ__Users__536C85E4CE05370C]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/22/2025 10:07:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[tblDispensingRecoard]    Script Date: 9/22/2025 10:07:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblDispensingRecoard]') AND type in (N'U'))
DROP TABLE [dbo].[tblDispensingRecoard]
GO
/****** Object:  Table [dbo].[MstPaymentMode]    Script Date: 9/22/2025 10:07:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MstPaymentMode]') AND type in (N'U'))
DROP TABLE [dbo].[MstPaymentMode]
GO
/****** Object:  Table [dbo].[mstDispenser]    Script Date: 9/22/2025 10:07:18 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[mstDispenser]') AND type in (N'U'))
DROP TABLE [dbo].[mstDispenser]
GO
/****** Object:  Table [dbo].[mstDispenser]    Script Date: 9/22/2025 10:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mstDispenser](
	[DispenserId] [int] IDENTITY(1,1) NOT NULL,
	[DispenserName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DispenserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MstPaymentMode]    Script Date: 9/22/2025 10:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstPaymentMode](
	[PaymentModeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentModeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentModeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDispensingRecoard]    Script Date: 9/22/2025 10:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDispensingRecoard](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DispenserNo] [int] NULL,
	[QuantityFilled] [decimal](10, 2) NULL,
	[VehicleNumber] [nvarchar](50) NULL,
	[PaymentMode] [int] NULL,
	[PaymentProofPath] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/22/2025 10:07:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[mstDispenser] ON 

INSERT [dbo].[mstDispenser] ([DispenserId], [DispenserName]) VALUES (1, N'D-01')
INSERT [dbo].[mstDispenser] ([DispenserId], [DispenserName]) VALUES (2, N'D-02')
INSERT [dbo].[mstDispenser] ([DispenserId], [DispenserName]) VALUES (3, N'D-03')
SET IDENTITY_INSERT [dbo].[mstDispenser] OFF
GO
SET IDENTITY_INSERT [dbo].[MstPaymentMode] ON 

INSERT [dbo].[MstPaymentMode] ([PaymentModeId], [PaymentModeName]) VALUES (1, N'Cash')
INSERT [dbo].[MstPaymentMode] ([PaymentModeId], [PaymentModeName]) VALUES (2, N'Credit Card')
INSERT [dbo].[MstPaymentMode] ([PaymentModeId], [PaymentModeName]) VALUES (3, N'UPI')
SET IDENTITY_INSERT [dbo].[MstPaymentMode] OFF
GO
SET IDENTITY_INSERT [dbo].[tblDispensingRecoard] ON 

INSERT [dbo].[tblDispensingRecoard] ([Id], [DispenserNo], [QuantityFilled], [VehicleNumber], [PaymentMode], [PaymentProofPath], [CreatedDate]) VALUES (1, 2, CAST(47.50 AS Decimal(10, 2)), N'MH04DP1234', 1, N'6a5d02e0-8eeb-4992-a02e-d555371ce060_sample-invoice.pdf', CAST(N'2025-09-22T12:19:02.573' AS DateTime))
INSERT [dbo].[tblDispensingRecoard] ([Id], [DispenserNo], [QuantityFilled], [VehicleNumber], [PaymentMode], [PaymentProofPath], [CreatedDate]) VALUES (2, 3, CAST(29.50 AS Decimal(10, 2)), N'MH04KH6453', 2, N'e0dd5f41-3494-4ba6-bc4e-f616005eef91_sample-invoice.pdf', CAST(N'2025-09-22T12:26:10.757' AS DateTime))
INSERT [dbo].[tblDispensingRecoard] ([Id], [DispenserNo], [QuantityFilled], [VehicleNumber], [PaymentMode], [PaymentProofPath], [CreatedDate]) VALUES (3, 2, CAST(10.00 AS Decimal(10, 2)), N'PB04DP1234', 3, N'b119e60c-41bd-4f44-b084-ad4b194eb2a6_sample-invoice.pdf', CAST(N'2025-09-23T12:19:02.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblDispensingRecoard] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash]) VALUES (1, N'admin', N'admin123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4CE05370C]    Script Date: 9/22/2025 10:07:19 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetDispensingRecords]    Script Date: 9/22/2025 10:07:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDispensingRecords]
    @DispenserNo INT = NULL,
    @PaymentMode INT = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
	    d.id ,
        md.dispenserName as dispenserNo,
        d.quantityFilled,
        d.vehicleNumber,
        p.paymentModeName as paymentMode,
        d.createdDate,
        d.paymentProofPath
    FROM
        tblDispensingRecoard d
		inner join mstDispenser md on md.DispenserId=d.dispenserNo
		inner join MstPaymentMode p on p.PaymentModeId=d.PaymentMode
    WHERE
        (@DispenserNo IS NULL OR d.DispenserNo = @DispenserNo)
        AND (@PaymentMode IS NULL OR d.PaymentMode = @PaymentMode)
        AND (@StartDate IS NULL OR d.CreatedDate >= @StartDate)
        AND (@EndDate IS NULL OR d.CreatedDate <= @EndDate)
    ORDER BY
        d.CreatedDate DESC;
END;
GO
